@page
@model LoginModel

@{
    Layout = "~/Views/Shared/_LayoutAccess.cshtml";
}

@{
    ViewData["Title"] = "Ingresar";
}

<h4 class="text-center">Iniciar sesión</h4>
<hr />
<section>  
    @{
        if ((Model.ExternalLogins?.Count ?? 0) > 0)
        {
            <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                <div>
                    <p>
                        @foreach (var provider in Model.ExternalLogins)
                        {
                            <button type="submit" class="btn btn-primary col-md-12" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">Continuar con @provider.DisplayName</button>
                        }
                    </p>
                </div>
            </form>
        }     
    }
</section>
<section>
    <form id="account" method="post">
        <hr />
        <div class="form-group">
            <label asp-for="Input.Email"></label>
            <input asp-for="Input.Email" class="form-control" />
            <span asp-validation-for="Input.Email" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Input.Password"></label>
            <input asp-for="Input.Password" class="form-control" />
            <span asp-validation-for="Input.Password" class="text-danger"></span>
        </div>
        <div class="form-group">
            <div class="checkbox">
                <label asp-for="Input.RememberMe">
                    <input asp-for="Input.RememberMe" />
                    @Html.DisplayNameFor(m => m.Input.RememberMe)
                </label>
            </div>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary col-md-12">Ingresar</button>
        </div>
        <div class="form-group">
            <p>
                <a id="forgot-password" asp-page="./ForgotPassword">Olvidaste tu contraseña?</a>
            </p>
            <p>
                <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Registrarse como nuevo usuario</a>
            </p>
            <p>
                <a id="resend-confirmation" asp-page="./ResendEmailConfirmation">Reenviar email de confirmación</a>
            </p>
        </div>
    </form>
</section>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
